Repository pelme/reko: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black --fast
            language: system
            types: [python]
            require_serial: true
          - id: ruff
            name: ruff
            entry: ruff check --fix
            language: system
            types: [python]
            require_serial: false
          - id: mypy
            name: mypy
            entry: mypy
            language: system
            types: [python]
            require_serial: true
            files: src/

make populate dev data a script
  scripts/populate_dev_data.py
Due: black, ruff

test a failure
  src/reko/order/views.py
Due: black, ruff, mypy

nicer name in workflow
  .github/workflows/main.yml
Due: none

fix type
  src/reko/order/views.py
Due: black, ruff, mypy

Start of replacing node/tailwind/typescript with shoelace+script tags.
  src/reko/static/reko/reko.css
  src/reko/static/vendor/alpinejs.min.js
  src/reko/static/vendor/htmx.min.js
  src/reko/templates/base.html
Due: none

Upgrade to htmx 2.x for web component form support:
  reko/static/vendor/htmx.min.js
Due: none

Formatting fix.
  reko/settings/_base.py
Due: black, ruff

Fix grid responsiveness.
  reko/static/reko/reko.css
Due: none

Better cart update.
  reko/reko/cart.py
  reko/reko/components.py
  reko/reko/views.py
  reko/urls.py
Due: black, ruff

htmx 2.0
  reko/static/vendor/htmx.min.js
Due: none

Ugly but working order flow.
  reko/reko/cart.py
  reko/reko/components.py
  reko/reko/forms.py
  reko/reko/models.py
  reko/reko/views.py
  reko/settings/_base.py
  reko/static/reko/reko.css
  reko/urls.py
Due: black, ruff

Use Python comment instead of CSS comment.
  reko/reko/components.py
Due: black, ruff

Upgrade htpy to latest version.
  pyproject.toml
Due: none

Avoid secure cookies (does not work locally).
  reko/reko/cart.py
Due: black, ruff

shoelace->pico.css
  reko/reko/components.py
  reko/static/reko/reko.css
  reko/static/vendor/bootstrap-icons/basket.svg
  reko/static/vendor/pico.green.min.css
Due: black, ruff

Add totals the order page.
  reko/reko/components.py
Due: black, ruff

Fix product forms in order view.
  reko/reko/components.py
  reko/reko/forms.py
  reko/reko/views.py
Due: black, ruff

Add amount formatter.
  reko/reko/admin.py
  reko/reko/components.py
  reko/reko/formatters.py
Due: black, ruff

Improve order summary details.
  reko/reko/components.py
  reko/reko/models.py
  reko/static/reko/reko.css
Due: black, ruff

Bump django version.
  pyproject.toml
Due: none

TEMPORARY: prefill some values
  reko/reko/forms.py
Due: black, ruff

Save a copy of the name for orderproducts.
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
  reko/reko/views.py
Due: black, ruff

Add build workflow and deployment.
  .github/workflows/build.yml
  Caddyfile
  bin/deploy
  compose.yml
  init-user-db.sh
  prod.env.enc
  pyproject.toml
Due: none

Upgrade Django because of security issues.
  pyproject.toml
Due: none

Drop item_in_stock for now.
  reko/reko/admin.py
  reko/reko/migrations/0002_remove_product_items_in_stock.py
  reko/reko/models.py
  reko/scripts/dev_db_generate.py
Due: black, ruff

Add email field to Producer.
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
  reko/scripts/dev_db_generate.py
Due: black, ruff

Generate order numbers in order admin.
  reko/reko/admin.py
Due: black, ruff

Add location to order admin list display.
  reko/reko/admin.py
Due: black, ruff

Upgrade ruff
  .github/workflows/main.yml
  manage.py
  pyproject.toml
  reko/reko/components.py
Due: black, ruff

Fix CI failures in main.
  reko/reko/admin.py
  reko/reko/migrations/0002_remove_product_items_in_stock.py
Due: black, ruff

Upgrade ruff
  manage.py
  pyproject.toml
  reko/reko/components.py
Due: black, ruff

Use two spaces for yml.
  .editorconfig
  .github/workflows/build.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Run CI workflow on all PRs
  .github/workflows/main.yml
Due: none
