Repository pelme/reko: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, mypy

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: ruff-format
            name: ruff-format
            entry: ruff format
            language: system
            types_or: [python, pyi]
            require_serial: false
          - id: ruff-check
            name: ruff-check
            entry: ruff check --fix
            language: system
            types: [python]
            require_serial: false
          - id: mypy
            name: mypy
            entry: mypy
            language: system
            types: [python]
            require_serial: true
            files: reko/

Add support for entering VAT percentage per product.
  .github/workflows/main.yml
  pyproject.toml
  reko/reko/admin.py
  reko/reko/cart.py
  reko/reko/components.py
  reko/reko/demo_data/demo_data.py
  reko/reko/factories.py
  reko/reko/formatters.py
  reko/reko/formatters_test.py
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
  reko/reko/models_test.py
  reko/reko/utils/__init__.py
  reko/reko/utils/vat.py
  reko/reko/utils/vat_test.py
  reko/reko/views.py
  reko/static/reko/reko.css
  uv.lock
Due: ruff-check, mypy

Fix typo in docker compose command
  README.md
Due: none

Fix value of 6 percent VAT.
  reko/reko/models.py
Due: ruff-check, mypy

Fix VAT values in demo data.
  reko/reko/demo_data/demo_data.py
Due: ruff-check, mypy

Fix model choices of VAT percentage.
  reko/reko/models.py
Due: ruff-check, mypy

Actually fix VAT choices so that they are shown properly.
  reko/reko/models.py
Due: ruff-check, mypy

Also fix migration and formatting for updated choices.
  reko/reko/demo_data/demo_data.py
  reko/reko/migrations/0001_initial.py
Due: ruff-check, mypy

Hide cart forms and order button if there are no upcoming pickups.
  reko/reko/components.py
Due: ruff-check, mypy

Enable Sentry for error reporting.
  compose.yml
  prod.env.enc
  pyproject.toml
  reko/settings/prod.py
  uv.lock
Due: ruff-check, mypy

Add basic index page with information.
  .github/workflows/main.yml
  reko/reko/components.py
  reko/reko/views.py
Due: ruff-check, mypy

Split the info into a start page and an about page.
  reko/reko/components.py
  reko/reko/views.py
  reko/static/reko/reko.css
  reko/templates/about.html
  reko/templates/index.html
  reko/urls.py
Due: ruff-check, mypy

Updated start page/about us texts.
  pyproject.toml
  reko/content/about.md
  reko/content/index.md
  reko/reko/components.py
  reko/reko/views.py
  reko/static/reko/reko.css
  reko/templates/about.html
  reko/templates/index.html
  uv.lock
Due: ruff-check, mypy

Typos/minor clarifications.
  reko/content/about.md
Due: none

More adjustment to index/about texts.
  reko/content/about.md
  reko/content/index.md
Due: none

More index/about tweaks.
  reko/content/about.md
  reko/content/index.md
Due: none

Use more en dashes.
  reko/reko/components.py
  reko/reko/formatters.py
  reko/reko/formatters_test.py
  reko/reko/symbols.py
Due: ruff-check, mypy

Show/Enable OrderProduct inline.
  reko/reko/admin.py
  reko/reko/models.py
Due: ruff-check, mypy

Disallow entering negative values for price and amount.
  reko/reko/models.py
Due: ruff-check, mypy

Set order number only on create.
  reko/reko/admin.py
Due: ruff-check, mypy

Hide ugly string representation in admin inline.
  reko/reko/models.py
Due: ruff-check, mypy

Update name and VAT factor on OrderProduct change.
  reko/reko/admin.py
Due: ruff-check, mypy

Fix migrations.
  reko/reko/migrations/0001_initial.py
Due: ruff-check, mypy

Use Bugsink instead of Sentry.
  compose.yml
  prod.env.enc
  reko/settings/prod.py
Due: ruff-check, mypy

Add CLAUDE.md file.
  CLAUDE.md
Due: none

Use a lower level of heading for order summary.
  reko/reko/components.py
Due: ruff-check, mypy

Implement cleaning, validation and formatting of Swish numbers.
  reko/reko/admin.py
  reko/reko/admin_test.py
  reko/reko/components.py
  reko/reko/demo_data/demo_data.py
  reko/reko/formatters.py
  reko/reko/formatters_test.py
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
  reko/reko/validators.py
  reko/reko/validators_test.py
Due: ruff-check, mypy

Add minimal Sphinx setup for end user docs.
  .github/workflows/main.yml
  .gitignore
  CONTRIBUTING.md
  docs/conf.py
  docs/index.md
  pyproject.toml
  uv.lock
Due: ruff-check

Drop unused element ID.
  reko/reko/components.py
Due: ruff-check, mypy

Prevent multiple clicks on order button.
  reko/reko/components.py
Due: ruff-check, mypy

Add further instructions to order confirmation.
  reko/reko/components.py
Due: ruff-check, mypy

Add verbose name to Pickup.is_published.
  reko/reko/models.py
Due: ruff-check, mypy

Fix migration check.
  reko/reko/migrations/0001_initial.py
Due: ruff-check, mypy

Serve docs via Caddy
  Caddyfile
  Dockerfile
  bin/build-image
  compose.yml
Due: none

Avoid exposing Django on http://handlareko.se:8000.
  compose.yml
Due: none

Avoid exposing the gunicorn port altogether.
  compose.yml
Due: none
