Repository pelme/reko: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, mypy

ruff-check:
  name: ruff-check
  entry: ruff check --fix
  language: system
  require_serial: false

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

Show an explanatory text when there's no products.
  reko/reko/components.py
Due: ruff-check, mypy

Build docs into the docker image.
  Dockerfile
  bin/build-image
Due: none

Only build the wheel and not sdist when building the docker image.
  bin/build-image
Due: none

Use build-image for the docker build.
  .github/workflows/build.yml
Due: none

Serve docs via Caddy.
  Caddyfile
  compose.yml
Due: none

Add script to download/vendor webawesome.
  bin/vendor-webawesome
Due: none

Use vendored webawesome.
  reko/reko/components.py
Due: ruff-check, mypy

Minor formatting fix.
  reko/reko/components.py
Due: ruff-check, mypy

Add wa-cloak to <html>.
  reko/reko/components.py
Due: ruff-check, mypy

Avoid vendored files in vs code search.
  reko.code-workspace
Due: none

Avoid setting max-width on body.
  reko/reko/components.py
  reko/static/reko/reko.css
Due: ruff-check, mypy

Convert the landing page to htpy components.
  reko/content/index.md
  reko/reko/components.py
  reko/reko/views.py
  reko/reko/views_test.py
Due: ruff-check, mypy

Add a hero section to the landing page.
  reko/reko/components.py
  reko/static/reko/hero.webp
  reko/static/reko/reko.css
Due: ruff-check, mypy

str() htpy components before passing to HttpResponse.
  reko/reko/views.py
Due: ruff-check, mypy

Use radio buttons for pickup field.
  reko/reko/components.py
  reko/reko/forms.py
  reko/static/reko/reko.css
Due: ruff-check, mypy

Use Swedish verbose date formatting everywhere and hide year if it's the current.
  pyproject.toml
  reko/reko/components.py
  reko/reko/formatters.py
  reko/reko/formatters_test.py
  reko/reko/models.py
  uv.lock
Due: ruff-check, mypy

Introduce Location model.
  reko/reko/admin.py
  reko/reko/components.py
  reko/reko/demo_data/demo_data.py
  reko/reko/factories.py
  reko/reko/forms.py
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
Due: ruff-check, mypy

Introduce PickupLocation model.
  reko/reko/admin.py
  reko/reko/components.py
  reko/reko/demo_data/demo_data.py
  reko/reko/factories.py
  reko/reko/forms.py
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
  reko/reko/views.py
  reko/static/reko/reko.css
Due: ruff-check, mypy

Use producer name in order confirmation email heading.
  reko/reko/components.py
Due: ruff-check, mypy

Avoid using "Handla REKO" in docs.
  docs/conf.py
Due: ruff-check

landing page: Separate handlareko.se info from general REKO info.
  reko/reko/components.py
Due: ruff-check, mypy

admin: Add verbose name to pickups M2M field.
  reko/reko/models.py
Due: ruff-check, mypy

admin: Avoid "Handla REKO" in admin.
  reko/reko/admin.py
  reko/reko/migrations/0001_initial.py
Due: ruff-check, mypy

demo: use reasonable time slots for different pickups.
  reko/reko/demo_data/demo_data.py
Due: ruff-check, mypy

producer: make pickups optional.
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
Due: ruff-check, mypy

producer admin: filter pickups by rings.
  reko/reko/admin.py
Due: ruff-check, mypy

producer admin: format pickup using relevant parts in inline.
  reko/reko/admin.py
Due: ruff-check, mypy

Introduce PickupLocation model.
  reko/reko/admin.py
  reko/reko/components.py
  reko/reko/demo_data/demo_data.py
  reko/reko/factories.py
  reko/reko/forms.py
  reko/reko/migrations/0001_initial.py
  reko/reko/models.py
  reko/reko/views.py
  reko/static/admin/css/hide_fk_actions.css
  reko/static/admin/css/hide_original.css
  reko/static/reko/reko.css
Due: ruff-check, mypy

order admin: reintroduce inline original for order product.
  reko/reko/models.py
Due: ruff-check, mypy

contributing: Expect direnv is used, simplify commands.
  CONTRIBUTING.md
Due: none

dev environment: Add a dev-postgres command
  .envrc
  .gitignore
  CONTRIBUTING.md
  bin/dev-postgres
Due: none

Change title on the index page.
  reko/reko/components.py
Due: ruff-check, mypy

Improved landing page.
  reko/reko/components.py
  reko/reko/views_test.py
  reko/static/reko/reko.css
Due: ruff-check, mypy

Path conditions:
  ruff-check: any of: \.py$
  mypy: any of: reko/ and \.py$
